.s-noselect { 
    -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

#s-rectBox { 
    position: absolute;
    z-index: 1090;
    border:2px dashed #cbd3e3; 
}

 